.card-container{
    margin-top: 100px;
}
.card{
    height:300px;
    width: 300px;
    border: 1px solid white;
    float:left;
    margin-left: 70px;
    overflow:hidden;
}
.card img{
      object-fit: cover;
      height:100%;
      width: 100%;
      transition: transform 0.5s ease;
}

/* zoom effect */
.card:hover img {
  transform: scale(1.2);
}
.work{
font-size:40px;
font-weight:bold;
align-items: center;
text-align: center;
margin-top: 80px;
}
.text{
    width:800px;
    text-align: center;
    margin-left: 350px;
}
.text p {
 font-size: xx-large;
  opacity: 0;
  transform: translateY(20px);
  animation: show 1s forwards;
}

/* delay each line */
.text p:nth-child(1) {
  animation-delay: 0s;
}

.text p:nth-child(2) {
  animation-delay: 1s;
}

.text p:nth-child(3) {
  animation-delay: 2s;
}

@keyframes show {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* exhibition card css*/
.exhibition {
  position: relative;
  height: 70vh;
  width: 80%;          /* responsive width */
  margin: 0 auto;      /* centers the slider */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

 /* swiper size */
swiper-container {
  width: 100%;
  height: 100%;
}

/* slide takes full area */
swiper-slide {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* image full width + full height */
swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* fills screen nicely */
  display: block;
}

    
    